/* Reset básico para remover estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fundo escuro */
    color: #e1e1e1; /* Texto claro */
}

/* Estilo do cabeçalho e navegação */
header {
    background-color: #1c1c1c; /* Cor de fundo escura para o cabeçalho */
    padding: 20px;
    text-align: center;
    color: #d62828; /* Vermelho vibrante */
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav h1 {
    font-size: 2.5em;
    color: #7209b7; /* Roxo escuro */
}

nav a {
    color: #e1e1e1; /* Texto claro */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave */
}

nav a:hover {
    color: #d62828; /* Alterar a cor no hover */
    text-decoration:  none;
}

/* Estilo da seção 'About' */
#about {
    background-color: #2a2a2a; /* Fundo escuro para a seção */
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#about h2 {
    color: #d62828; /* Vermelho vibrante */
    text-align: center;
}

#about p {
    line-height: 1.6;
    color: #e1e1e1; /* Texto claro */
}

/* Adicionando uma borda para separação visual */
hr {
    border: 0;
    border-top: 1px solid #444; /* Linha de separação sutil */
    margin: 20px 0;
}
